*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
}

 /***********  Header***************** */

#header{ 
    display: flex;
align-items: center;
justify-content:space-between;
padding: 10px 80px;
background-color: ghostwhite;
box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.09);
z-index: 9;
position: sticky;
top: 0;
left: 0;
}


#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none ;
    padding: 10px 18px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
font-size: 16px;
font-weight: 600;
color: lightslategray;
transition: 1s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: blue;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40px;
    height: 2px;
    background-color: blue;
position: absolute;
bottom: -1px;
left: 20px;}

/**************Home Page*********************/

#hero{
    background-image: url(Images/background2.jfif);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 0 80px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h3{
    padding-top: 40px;
    padding-bottom: 10px ;
    color: black;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

#hero img{
    border-radius: 50px;
    padding: 40px ;
    height: 50vh;
    width: auto;
position: absolute;
display: flex;
}

/************About Me*************************/
#aboutme{
    padding: 40px 20px;
    background-image: url(Images/background1.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
#aboutme p{
display: inline-block;
}

#about{
    padding: 40px 20px;
}

#about button{
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: darksalmon;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    margin-top: 40px;
}

/***************** Contact ***************/

#contact{

    padding: 12px 8px;
    margin: 50px;
    box-sizing: border-box;
    background-color: plum ;
}

#contact p{
    text-align: center;
    text-decoration: underline;
    font-weight: 800;
}
input{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    text-align: center;
}

#message{
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    resize: none;
}

button{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: black;
    background-color: rgb(167, 75, 167);
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: 0.2s;
    margin-top: 40px;
} 

/***********Footer*********/

footer{
    text-align: center;
    background-color:rgb(172, 95, 172); 
    margin: 0;
    padding: 3px;
    border-radius: 40px;
}

.follow{
    justify-content: space-between;
    display: flex
}

.quick a{
    justify-content: space-between;
    text-decoration: none;
}

/******** Projects**********************/
 #project h2{
    justify-content: center;
    padding-top: 40px;
    text-align: center;
}
.flex-container {
    display: flex;
    background-color: peru;
    width: 100%;
    height: 70vh;
    justify-content: center;
    box-sizing: border-box;
    gap: 40px;
    padding-top: 10px;

  }
  .flexbox{
    box-sizing: border-box;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    justify-content: space-between;
  }

  .flexbox a{
    text-decoration: none;
    display: block;
    padding-top: 10px;
  }

  .flexbox p{
    color: brown;
    padding-top: 14px;
  }

  button:hover{
    color: white;
    background-color: blueviolet;
  }
    
  

 